/* 
Other ideas to incorporate into the CSS
- choose a colour palette
- base styles for fonts and line height and other stuff

- add base styles file
- add nav and footer files
  */

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.5;
}

/* Body */

html,
body {
  background-color: #fff;
}

body {
  box-shadow: inset 0 0 4rem rgba(0, 0, 0, .6);
  overflow-x: hidden;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

button {
  cursor: pointer;
}

div {
  display: block;
}

/* Links */

a {
  color: white;
}

a:hover {
  color: white;
}

/* Footer */

.footer {
  display: block;
  background-color: #152247;
  padding: 50px 0;
  color: #fff;  
  overflow: hidden;
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

.footer-inner {
  flex: 1 1 0%;
  position: relative;
}

/* Footer Top */
.footer-top {
  display: flex;
  flex-flow: row wrap;
}

.column {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid rgb(112, 167, 255);
}

.column:last-child {
  flex-grow: 0;
}

.footer-heading {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 6px;
}

.footer-column-list {
  padding: 0 0 20px;
  margin: 0;
}

.footer-list-item {
  position: relative;
  display: list-item;
}

/* Back To Top */

.back-to-top {
  margin: 30px 0;
  position: relative;
  text-align: right;
}

.top-arrow {
  fill: #fff;
  height: 26px;
  transform: rotate(90deg);
  width: 26px;
}

/* Footer Bottom */

.footer-bottom {
  display: flex;
}

.extras {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
}

.extra {
  margin: 0 0 15px;
}

/* Socials */

.social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.contacts-icon {
  display: flex;
  position: relative;
  text-align: left;  
  padding: 0 0 0 25px;
  margin: 0 0 15px;
}

.icon {
  height: 26px;
  width: 26px;
  fill: #fff;
  color: #fff;
}

/* 768px Media Queries */
@media (min-width: 768px) {

  /* Footer */

  .footer {
    padding: 50px 0 50px;
  }

  .footer-wrapper {
    padding: 0 32px;
  }

  /* Footer Top */

  .column {
    max-width: 33.3333333333%;
    border-top: none;
  }

  .footer-column-list {
    border-left: 1px solid rgb(112, 167, 255);
    margin: 10px 0 0;
    padding: 0 0 0 16px;
  }

  /* Footer Bottom */

  .footer-bottom {
    border-top: 1px solid rgb(112, 167, 255);
    padding: 30px 0;
  }

  .extras {
    align-items: center;
    flex-direction: row;
  }

  .extra {
    margin: 0 40px 0 0;
  }

  /* Socials */

  .social {
    align-items: center;
  }

  .contacts-icon {
    margin: 0;
  }

}
