/* 
' single quote marks, .8vh em px, color: #ebc;, variable-name
dont use quotations for urls()
seperate selectors
Header 
Group sections by content like so
*/

/*
Other ideas to incorporate into the CSS
- choose a colour palette
- projects setting will be the top of the footer make it with few, and then expand
  into having the database provide them with the context into "home.html"
- base styles for fonts and line height and other stuff
- check which styles are constantly repeated and nevere changed add to 
* {
}
  */

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.5;
}

/* Body */

html,
body {
  background-color: #fff;
}

body {
  box-shadow: inset 0 0 4rem rgba(0, 0, 0, .4);
}

/* Links */

a {
  color: white;
}

a:hover {
  color: white;
}

/* Footer */

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  background-color: #14232a;
  padding: 40px 0 40px;
  position: relative;
  color: white;
}

.footer-inner {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
  flex: 1 1 0%;
  position: relative;
}

/* Footer Top */
.footer-top {
  display: flex;
  flex-flow: row wrap;
}

.column {
  width: 100%;
  display: block;
  overflow: hidden;
}

.column:last-child {
  flex-grow: 0;
}

.footer-heading {
  border: 0;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0px;
  text-align: left;
}

.footer-column-list {
  list-style-type: none;
  padding: 0 0 20px;
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.footer-list-item {
  position: relative;
  z-index: 2;
  display: list-item;
  text-align: match-parent;
  list-style-type: none;
}

.footer-link {
  display: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Footer Bottom */