{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Necessary meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Diogo Ferreira</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
        {% block css %}
        {% endblock %}

    </head>
    <body>
        <!-- Body -->
        <body>            
            <div>
                <!-- Main Content -->
                {% block content %}
                {% endblock %}
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="footer-inner">
                    <div class="footer-top">
                        <div class="column">
                            <ul class='footer-column-list'>
                                <h1 class="footer-heading">Projects</h1>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Personal Website</a>
                                </li>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Timer</a>
                                </li>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Django</a>  
                                </li>  
                            </ul>
                        </div>
                        <div class="column">
                            <ul class='footer-column-list'>
                                <h1 class="footer-heading">Projects</h1>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Personal Website</a>
                                </li>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Timer</a>
                                </li>
                                <li class='footer-list-item'>
                                    <a class='footer-link' href="#">Django</a>  
                                </li>  
                            </ul>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="top-link">
                            <a href="#top">Back to top.</a>
                        </div>
                    </div>

                </div>
            </footer>
        </body>

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="{% static 'home/js/base.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
